<h2><%= Tutor.count %> subjects</h2>

<% @tutors.each do |tutor| %>
<p class = "tutor">
    <%= link_to tutor.name, tutor_path(tutor.id) %>
  </p>
<% end %>

  <%= link_to "Add New Tutor", new_tutor_path, :class => "btn btn-outline-info" %>
