<div class="row welcome-page">
    <div class="col-md-12">
        <h1>Welcome To The Legal Plug <% if @current_user.present? %><%= @current_user.name %><%end%></h1>
    </div>

    <div class="header bkg">

  <div class="header-image">
    <img src="https://scontent-syd2-1.xx.fbcdn.net/v/t1.18169-9/14355038_117843045342969_2416252482737794925_n.jpg?_nc_cat=109&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=iVxj7CcIPlQAX9ge8u-&_nc_ht=scontent-syd2-1.xx&oh=23fa9a3c64d7b607979668d12589eb03&oe=61A009BE" class="">
  </div>

  <div class="container text-white">

    <h1 class="display-4">Your go to tutor directory</h1>
    <p class="lead">Best place to find an affordable tutor for any of your priestly 11 subjects.</p>
    <hr class="my-4">
    <p>Australia's most popualr student platform, built just for you.</p>
    <a class="btn btn-primary btn-lg" href="/accounts/sign_up" role="button">Sign up Today!</a>

  </div>



</div>
</div>
