<div class="row welcome-page">
  <div class="col-md-12">
    <h1>Welcome To The Legal Plug <% if @current_user.present? %><%= @current_user.name %><%end%></h1>
  </div>
</div>

<div class="row welcome-page">

  <div class="container text">

    <h1 class="display-4">Your go to law tutor directory</h1>
    <p class="lead">Best place to find an affordable tutor for any of your priestly 11 subjects.</p>
    <hr class="my-4">
    <p>Australia's most popular student platform, built just for you.</p>
    <a class="btn btn-primary btn-lg" href="/users/new" role="button">Sign up Today!</a>

  </div>

</div>
