<h1>All Subjects</h1>

<ul class="list-group">
<% @subject.each do |subject| %>
<li class="list-group-item">
<p class = "subject">
  
    <%= link_to subject.name, subject_path(subject.id) %>
  </p>
  </li>
<% end %>
</ul>
